.main {
  min-height: 100vh;
}

.mainBg {
  background: url("/bg.png");
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-position: 0px -700px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
    inset 0px 11px 8px -10px rgba(66, 68, 90, 1),
    inset 0px -11px 8px -10px rgba(66, 68, 90, 1);

}