.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px; 
  padding: 0 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.headerText {
  font-weight: 700;
  font-size: 1.5rem;
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(-20px); /* to move the button to its position */
}