.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.sectionInfo {
  & h1 {
    max-width: 500px;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  & p {
    max-width: 500px;
  }
}

.sectionButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}
