.linkIcon {
  border-radius: 999999px;
  background-color: white;
  padding: 0.25rem;
}

.rightPadding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;

  & img {
    /* to move the profile picture half of its width to the right */
    position: absolute;
    right: 0;
    transform: translateX(50%);
  }
}