@import '../../variables';

.linkIcon {
  border-radius: 999999px;
  background-color: $secondary;
  padding: 0.25rem;
}

.rightPadding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;

  & img {
    /* to move the profile picture half of its width to the right */
    position: absolute;
    right: 0;
    transform: translateX(50%);
  }
}

.primary {
  padding: 0.5rem;
  border: 3px solid $primary;

  &:hover {
    border: 3px solid $hover;
  }
}

.secondary {
  background: none;
  border: 2px solid $secondary;
  padding: 0.5rem 2rem;

  &:hover {
    border: 2px solid $tertiary;
    background: none;
    color: $tertiary;
  }
}